<?xml version="1.0"?>
<config>
    <tabs>
        <smdesign_extensions_config translate="label" module="catalog">
            <label>SMDesign Extensions Config</label>
            <sort_order>300</sort_order>
        </smdesign_extensions_config>
    </tabs>
	<sections>
		<smdesign_smdtwitter translate="label" module="smdtwitter">
			<label>SMDesign Twitter</label>
				<tab>smdesign_extensions_config</tab>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<groups>
					<twitter translate="label">
					<label>Twitter Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>200</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled>
							<label>Enable Twitter</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>150</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable SMDTwitter plugin</comment>
						</enabled>
						
						<twitter_feed>
							<label>Twitter Feed</label>
							<frontend_type>text</frontend_type>
							<sort_order>155</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Twitter feed</comment>
						</twitter_feed>
						
						<twitter_feed_number>
							<label>Number of Twitter Feeds</label>
							<frontend_type>text</frontend_type>
							<sort_order>160</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Number of twitter feeds to display, 4 by default</comment>
						</twitter_feed_number>
						
						
						<twitter_box_top_position>
							<label>Twitter Container Top Position</label>
							<frontend_type>text</frontend_type>
							<sort_order>163</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Twitter Container offset from top of screen</comment>
						</twitter_box_top_position>
						
						<twitter_box_side>
							<label>Twitter Box Side</label>
							<frontend_type>select</frontend_type>
							<source_model>smdtwitter/system_config_source_load_options</source_model>
							<sort_order>163</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Select side to display twitter box</comment>
						</twitter_box_side>
						
						<twitter_box_width>
							<label>Twitter Container Width</label>
							<frontend_type>text</frontend_type>
							<sort_order>164</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter_box_width>
						
						<twitter_box_height>
							<label>Twitter Container Height</label>
							<frontend_type>text</frontend_type>
							<sort_order>165</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter_box_height>
						
						<twitter_box_background>
							<label>Twitter Container Background Color</label>
							<frontend_type>text</frontend_type>
							<sort_order>166</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter_box_background>
						
						<twitter_box_color>
							<label>Twitter Container Text Color</label>
							<frontend_type>text</frontend_type>
							<sort_order>167</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter_box_color>
						
						<twitter_tweets_background>
							<label>Twitter Tweets Background Color</label>
							<frontend_type>text</frontend_type>
							<sort_order>169</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter_tweets_background>						
						
						<twitter_tweets_color>
							<label>Twitter Tweets Text Color</label>
							<frontend_type>text</frontend_type>
							<sort_order>170</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter_tweets_color>
						
						<twitter_tweets_link_color>
							<label>Twitter Tweets Links Color</label>
							<frontend_type>text</frontend_type>
							<sort_order>171</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter_tweets_link_color>
						
					</fields>
				</twitter> 				
			</groups>
		</smdesign_smdtwitter>
	</sections>
</config>